.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	@include make-row();
	
	.content-area {
		@include make-md-column(9);
	}
	
	.widget-area {
		@include make-md-column(3);
	}
}

.entry-meta {
	.fa {
		color:$color__light-green;
		margin-right: 10px;
	}

	span {
		margin-right: 10px;
		display: inline-block;

		&:last-child {
			margin-right:5;
		}
	}

	a {
		color:$color__light-green;

		&:hover {
			text-decoration: none;
			color: #F41C1C;
		}
	}
}

.site-content {
	@include make-row();
	word-break: break-word;

	.content-area {
		@include make-md-column(9);
	}

	.widget-area {
		@include make-md-column(3);
	}
}

